---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 100%;
        padding: 2em 3em;
        box-sizing: border-box;
        min-height: calc(100vh - 275px);
        height: max-content;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul li {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
      }
      ul li a {
        width: 85%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
      }

      .blog-title {
        margin: 0;
        line-height: 1.4;
        font-weight: 500;
        font-family: "Arvo", sans-serif;
      }

      .blog-title span {
        background-color: var(--white);
        color: var(--black)
      }

      .blog-title:hover {
        text-decoration: underline;
      }

      .blog-date {
        margin: 0;
        color: var(--white);
        font-weight: 300;
        font-size: 0.8em;
      }

      @media (max-width: 720px) {
        main {
          width: 100%;
          max-width: 100%;
          padding: 1em;
        }
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
          margin: 1em 0;
        }

        ul li a {
          width: 100%;
          text-align: left;
          font-size: .8em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={import.meta.env.BASE_URL + `blog/${post.id}/`}>
                  <p class="blog-date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <h2 class="blog-title">
                    <span>{post.data.title}</span>
                  </h2>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
